@media only screen and (max-width : 1680px) {
  .contain {
    max-width: 1170px;
  }
  .show-1680 {
   display: block; 
 }
 .hide-1680 {
  display: none;
}
.header__slide-text {
  font-size: 80px;
}
.logo__img-wrap {  
  margin-top: 0;
}
.logo__img-wrap,
.footer__logo {
  width: 160px;  
}
.logo__slogan {
  font-size: 12px;

  margin-left: 25px;
}
.phones__item:not(:last-child) {
  margin-right: 30px;
}
.phones {
  margin-left: 50px;
}
.phones__phone {
  font-size: 15px;
  margin-bottom: 6px;
}
.phones__city {
  font-size: 12px;
}
.btn {
  height: 48px;
  font-size: 14px;
}
.burger {
  margin-left: 20px;
}
.burger,
.mnu__close {
  width: 48px;
  height: 48px;
}
.burger__line {
  width: 20px;
}
.open-mnu-w {
  padding-left: 85px;
  padding-top: 65px;
}
.open-mnu__a {
  font-size: 28px;

}
.open-mnu__arrow {
  width: 24px;
  height: auto;
  margin-left: 15px;
}

.open__btn {
  margin-top: 72px;
}
.open__phones {
  margin-top: 104px;
}
.open__phones-phone {
  font-size: 18px;
  margin-bottom: 15px;
}
.open__phones-mail {
  margin-top: 15px;
}
.open__phones-mail,
.open__phones-city {
  font-size: 14px;
}

.footer__phones-phone {
  font-size: 16px;
  margin-bottom: 15px;
}
.footer__phones-mail,
.footer__phones-city {
  font-size: 13px;
}
.footer__phones-mail {
  margin-top: 15px;
}
.footer__phones-item:not(:last-child) {
  margin-right: 62px;
}
.footer {
  padding: 85px 0 96px
}
.footer__phones {
  margin-right: 0;
}
.footer__logo {
  margin-top: -6px;
  margin-right: 25px;
}
.footer__phones-item:not(:last-child) {
  margin-right: 22px;
}
.proj-sl {  
  width: calc(1000px * 2 + 120px);
}
.proj-sl .slick-next {
  left: 900px;
}
.proj-sl {
  margin: 0 -50px;
  .slick-slide {
    padding: 0 50px;
  }
} 


.projects {
  padding: 100px 0;
}
.projects__title {
  font-size: 38px;
  margin-bottom: 40px;
}
.proj-sl__square {
  font-size: 26px;
}
.proj-sl__tit {
  font-size: 22px;
}
.proj-sl__link {
  font-size: 14px;
}
.proj-sl__desc {
  margin-top: 20px;
  font-size: 14px;
}
.op__row-1 {  
  flex-wrap: wrap;

}
.op__l {
  margin-right: 0;
  margin-bottom: 45px;
}
.equipment__slider-w {  
  width: 1600px;
}
.equipment__slider-link:before {
  top: 0;
}
.equipment__slider-link {
  font-size: 19px;
}
.equipment__slider {
  margin: 0 -30px;
  .slick-slide {
   padding: 0 30px; 
 }
} 
.equipment__nav-item sup,
.equipment__nav-text {
  font-size: 13px;
}
.equipment__nav-item {
  margin-right: 15px;
}
.equipment {
  padding: 80px 0;
}
.equipment__img-w {

}
.whywe {
  padding: 85px 0 60px 0;
}
.whywe__heading {
  margin-bottom: 80px;
}
.whywe__items {    
  flex-wrap: wrap;
}
.whywe__item {
  width: 50%;
  margin-bottom: 45px;
}
.whywe__num {
  margin-bottom: 25px;
}
.advantages__text {
  br {
    display: none;
  }
}
}

@media (max-width : 1366px) {
  .calc__checkboxes {
    flex-wrap: wrap;
  }
  .calc__label {
    margin-bottom: 15px;
    width: 33.333%;
  }
  .calc__label input[type="checkbox"] + span.calc__check-span {
    width: 100%;
    height: auto;
    padding: 12px 20px;    
  }
  .equipment__slider-w {
    width: 1400px;
  }
  .equipment__img-w {

  }
  .openclub__items {
    
  }
}

@media only screen and (max-width : 1199px) {
  .show-1199 {
    display: block;
    .top__btn {
      display: inline-flex;
    } 
  }
  .calc__label input[type="checkbox"] + span.calc__check-span {
    min-height: 48px;
  }
  .calc__checkboxes {
    align-items: center;
    flex-wrap: nowrap;            
    flex-direction: column;
  }
  .calc__stage-wrap {
    height: auto;
  }
  .calc__label {    
    width: 279px;
  }

  .hide-1199 {
    display: none;
  }
  .contain {
    max-width: 970px
  }    

  .top__btn-wrap {
    width: 100%;
    position: absolute;
    bottom: 41px;
    left: 0;
  }
  .header__slide-text {
    font-size: 60px;
  }
  .top__actions {    
    align-items: flex-start;
  }
  .phones {
    margin-left: auto;
  }
  .phones__item:not(:last-child) {
    margin-right: 30px;
  }
  .header__slide-text-wrap {
    bottom: 131px;
  }
  .open-mnu__a {
    font-size: 20px;
    background: url("../img/mnu-arrow.svg") $nr right center;  
    background-size: 16px;
    padding-right: 31px;    
  }
  .projects {
    padding: 70px 0;
  }
  .proj-sl {
    width: calc(800px * 2 + 120px);
    margin: 0 -30px;
    .slick-slide {
      padding: 0 30px;
    }
    .slick-next {
      left: 750px;      
      background-size: 100%;
      width: 25px;
      top: calc(50% + 60px);
    }
  }

  .proj-sl__img-w {
    margin-top: 20px;
  }

  .projects__title {
    margin-bottom: 30px;
  }
  .proj-sl__desc {
    margin-top: 15px;
  }
  .calculate__l {
    font-size: 42px;
  }
  .calculate__r {
    padding-left: 70px;
  }
  .calc__tit {
    font-size: 40px;
  }
  .calc__subtit,
  .calc__tit {
    margin-bottom: 40px;
  }
  .calc__nav {
    margin-top: 40px;
  }
  .op__r {   
    flex-wrap: wrap;
    width: 100%;
  }
  .op__r-desc {
    margin-left: 0;
    margin-top: 40px;
  }
  .op__r-img-w {
    max-width: 600px;
    flex: unset;
    width: unset;
    img {
      height: auto;
      width: 100%;
    }
  }
  .accord__l {
    margin-right: 66px;
  }
  .accord__item {
    padding: 30px 0;    
  }
  .equipment__img-w {

  }
  .equipment__nav-item sup {
    display: none;
  }  
  .equipment__nav {   
    flex-direction: column; 
  }
  .equipment__nav-item {
    display: block;
    &.active {

    }
  }
  .nav-selected {
    display: flex;
    align-items: center;
    height: 48px;
    background: #F3F3F3;
    border-radius: 50px;
    padding: 0 20px;
    color: rgba(#181818, 0.6);
    font-size: 16px;
    font-weight: 500;        
    justify-content: space-between;
    &._dark {
      background-color: #2f2f2f;
      color: rgba(#fff, 0.6);
    }
    &:after {
      content: "";
      width: 20px;
      height: 100%;
      display: inline-block;
      background: url("../img/sel-arrow.svg") $nr center;      
      transition: 0.5s;
    }
    &._dark {
      background: #2F2F2F;      
      color: rgba(#FFFFFF, 0.6);
      &:after {
        background: url("../img/sel-arrow-dark.svg") $nr center;
      }
    }
  }
  .select-nav {
    position: relative;
    overflow: hidden;
    height: 48px;
    &._dark {
      .nav-selected {
        background-color: #2f2f2f;
        color: rgba(#fff, 0.6);
        &:after {
          background-image: url("../img/sel-arrow-dark.svg");
        }
      }  
      &.open {
        border: none;
        background-color: #2f2f2f;
        .select-nav__list {
          border: none;
          background-color: #2f2f2f;
          width: 100%;
          left: 0;
          height: auto;
          padding-bottom: 15px;
          .tab__list-item.active {                
            border-radius: 0;
            border: none;
          }
        }
      }        
    }
    &.open {
      overflow: visible;
      border-bottom: none;
      border: 1px solid #0041A0;
      border-radius: 24px 24px 0 0;
      height: auto;      
      &._dark {
        .nav-selected {
          background-color: #2f2f2f;
          color: rgba(#fff, 0.6);
        }          
      }
      .nav-selected {
        background-color: #FFF;
        position: relative;
        &:before {
          content: "";
          display: block;
          position: absolute;
          bottom: 0;
          left: 20px;
          width: calc(100% - 40px);
          height: 1px;
          background-color: #DEDEDE;
        }
        &:after {
          transform: rotate(180deg);
        } 
      }
      .select-nav__list {
        border: 1px solid #0041A0;
        border-top: none;
        left: -1px;
        width: calc(100% + 2px);
        border-radius: 0 0 24px 24px;
      }

    } //open
    .select-nav__list {      
      height: 164px;
      overflow: auto;       
      overflow-x: hidden;           
      z-index: 10;
      position: absolute;
      background-color: #FFF;
      width: 100%;
      display: block;
      a {
        width: 100%;
        padding: 10px 24px;
        display: block;     
        &:first-child {
         margin-top: 11px;
       }     
     }
   }
 } 
 .equipment__nav-text {
  font-size: 16px;
} 
.equipment__slider-w {
  width: calc(1200px + 240px);
}
.equipment__tit {
  margin-bottom: 42px;
}
.equipment {
  padding: 60px 0;
}
.equipment__tit {
  font-size: 50px;
}
.getcat__tit {
  margin-bottom: 34px;
}
.getcat {
  padding: 65px 0;
}
.getcat__btn,
.getcat__input {
  height: 48px;
}
.getcat__checkboxes {
  margin-top: 31px;
}
.getcat__checkbox-lbl {
  &:not(:last-child) {
    margin-right: 40px;
  }
}
.getcat__form {

}
.heading-2 {
  font-size: 50px;
  margin-bottom: 60px;
}
.whywe__text {
  line-height: 1.3;
}
.advantages__text {
  font-size: 22px;
}
.advantages__heading {
  margin-bottom: 40px;
}
.advantages__text {
  margin-top: 0;
}
.advantages {
  padding-bottom: 100px;
}

.tabs__content-w {
  margin-left: -20px;
  margin-right: -20px;
  width: 1366px;
}

.showrooms__slider .slick-slide {
  padding: 0 20px;
}
.showrooms__heading {
  margin-bottom: 30px;
}
.showrooms {
  padding: 70px 0;
}
.openclub {
  padding: 80px 0;
}
.openclub__actions-w {
  margin-top: 40px;
}
.openclub__items {
  margin-top: 50px;
}
.openclub__it {
  padding: 34px 8px 30px 20px;
}
.openclub__text,
.openclub__it-tit,
.openclub__price {
  margin-bottom: 20px;
}
.openclub__actions-w {
  display: block;
}
}


/* Medium Devices, Desktops */
@media only screen and (max-width : 991px) {
  .contain {
    max-width: 750px 
  }   
  .logo {
    display: block;
  }
  .logo__slogan {
    margin-left: 0;
    margin-top: 18px;
    font-size: 14px;
    line-height: 1.4;
  } 
  .burger,
  .mnu__close {
    width: 44px;
    height: 44px;
  }
  .mnu__close {  
    background-size: 11px;
  }
  .burger__line {
    width: 16px;
    height: 2px;
    margin-top: 0;
    &:not(:last-child) {
      margin-bottom: 3px;
    }
  }

  .open__btn {
    margin-top: 42px;
  }
  .open__phones {
    margin-top: 84px;
  }
  .open-mnu-w {
    padding-top: 35px;
    padding-left: 50px;
  }
  .open__phones-phone {
    font-size: 16px;
  }
  .open__phones-item:not(:last-child) {
    margin-right: 70px;
  }
  .open__phones-phone {
    margin-bottom: 5px;
  }
  .open__phones-mail {
    margin-top: 5px;
  }
  .open__phones-city {
    span {
      display: none;
    }
  }
  .footer__inn {  
    flex-wrap: wrap;                            
  }
  .footer__phones {
    margin-left: 0;
    margin-right: 0;
    margin-top: 35px;  
    justify-content: space-between;
    width: 100%;
  }
  .footer__phones-item:not(:last-child) {
    margin-right: unset;
  }
  .footer__time {
    width: 100%;
    order: 10;
    margin-top: 25px;
  }
  .proj-sl {
    width: calc(600px * 2 + 120px);    
    .slick-slide {

    }
    .slick-next {
      left: 560px;      
    }
  }
  .calculate__inn {    
    flex-wrap: wrap;
  }
  .calculate__r {
    padding-left: 0;
    margin-top: 25px;
  }
  .calculate__start {
    max-width: 280px;
    width: 100%;
    height: 48px;
    font-weight: 500;
  }
  .calculate__desc {
    margin-bottom: 40px;
  }
  .calculate__top {
    padding-top: 80px;
  }
  .accord__l {
    display: none;
  }
  .op {
    padding: 80px 0;
  }
  .equipment__img-w {

    margin-bottom: 20px;
  }
  .equipment__slider {
    margin: 0 -10px;
    .slick-slide {
      padding: 0 10px;
    }
  }
  .equipment__slider-w {
    width: calc(991px + 240px);
  }
  .heading-2 {
    font-size: 40px;
  }
  .advantages {
    padding-top: 0px;
    padding-bottom: 80px;
  }
.openclub__it-tit {
  font-size: 24px;
}
.openclub__price {
  font-size: 16px;
  span {
    font-size: 25px;
  }
}
  .openclub__text {
  font-size: 14px;  
  }
  .openclub__list-item {
    font-size: 14px;
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
  .marquee-3 {
    display: none;
  }
  .marquee__heading {
    text-align: center;
    padding: 0 15px;
  }
} 

/* Small Devices, Tablets */
@media only screen and (max-width : 767px) {
  .contain {
    max-width: 600px;
  }
  .header__slide-text {
    font-size: 40px;
  }
  .phones {
    display: none;
  }
  .open__phones {
    display: block;
  }
  .open__phones-item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 35px;
  }
  .footer__phones {
    display: block;
  }
  .footer__phones-item:not(:last-child) {
    margin-bottom: 35px;
  }
  .footer {
    padding: 60px 0;
  }
  .proj-sl {
    width: calc(500px * 2 + 120px);    
    .slick-slide {

    }
    .slick-next {
      left: 460px;      
    }
  }
  .proj-sl__slide {
    display: flex !important;    
    flex-direction: column;    
    align-items: flex-start;
  }
  .proj-sl__img-w {
    order: -1;
    margin-top: 0;
    margin-bottom: 25px;
  }
  .hide-767 {
    display: none;
  }
  .show-767 {
    display: block;
  }
  .proj-sl__link {
    margin-left: 4px;
    margin-top: 25px;
    padding-right: 23px;    
    background: url("../img/arr-inst.svg") $nr right center;
    &.show-767 {
      display: inline-flex;
      width: auto;
    }
  }
  .proj-sl {
    width: calc(400px * 2 + 120px);    
    margin: 0 -20px;
    .slick-slide {
      padding: 0 20px;
    }
    .slick-next {
      left: 460px;      
    }
  }
  .proj-sl__top {
    display: block;
  }
  .proj-sl__tit {
    display: block;
    width: 100%;
    margin-bottom: 15px;
  }
  .proj-sl .slick-next {
    display: none !important;
  }
  .calculate__l {
    font-size: 32px;
  }
  .calc__label input[type="checkbox"] + span.calc__check-span {
   border-radius: 70px; 
   line-height: 1.5;
 }  
 .calc__nav-btn {
  height: 48px;
  font-size: 16px;
  padding: 0 19px;
}
.calc__nav-btn:after {
  margin-left: 22px;
}
.calc__nav-btn._prev:before {
  margin-right: 22px;
}
.calc__submit-wrap,
.calc__nav {
  margin-top: 25px;
}
.calc__tit {
  font-size: 24px;
  margin-bottom: 40px;
}
.calc__subtit {
  color: rgba(255, 255, 255, 0.5);
  font-size: 16px;
  margin-bottom: 20px;
  line-height: 1.5;
  margin-top: -20px;
}
.calc {

}
.equipment__tit {
  font-size: 35px;
  margin-bottom: 25px;
}
.getcat__form-inn {    
  flex-wrap: wrap;
  margin: 0;
}
.getcat__form-col {
  padding: 0;
  width: 100%;
  &:not(:last-child) {
    margin-bottom: 24px;
  }
}

.getcat__checkboxes {
  margin-top: -2px;
  margin-bottom: 37px;
}
.whywe__item {
  width: 100%;
  margin-bottom: 0;
  &:not(:last-child) {
    margin-bottom: 48px;
  }
}
.whywe {
  padding: 63px 0 64px 0;
}
.advantages {    
  padding: 40px 0;
}
.advantages__text {
  text-indent: 48px;
}
.advantages__text {
  margin-bottom: 50px;
}
.advantages__text {
  margin-bottom: 0;
}
.advantages__img-w-2 {
  padding-top: 40px;
  background-color: #181818;
}
.tabs__content-w {
  width: 992px;
}
.showrooms__img-w {
  img {
    max-width: 100%;
  }
}
.showrooms__phone,
.showrooms__adress {
  font-size: 16px;
}
.showrooms__signup {
  font-size: 0;  
  &:after {
    width: 15px;
    height: 15px;
    background-size: 13px;
    transform: rotate(-45deg);
    margin-left: 0;
  }
}
.openclub__tabs-control-w {
  display: flex;  
          justify-content: center;
          margin-top: 25px;
}
.marquee__heading {
  margin-bottom: 30px;
}
.openclub__it {  
  width: 100%;
  opacity: 0;
  visibility: hidden;
  &:nth-child(1) {
    transform: translateX(-100%);
  }  
  &:nth-child(2) {
    transform: translateX(100%);
  }  
  &.active {
    order: -1;
    opacity: 1;
    visibility: visible;
    transform: translateX(0%);    
    transition: transform 0.2s, opacity 0.5s;
  }
}
.getcat__form-error {
  left: 10px;
}
.getcat__form-col._error {
  margin-bottom: 35px;
}

}


@media only screen and (max-width : 640px) {
  .contain {
    max-width: 530px;
  }
  .header__slide-text {
    font-size: 35px;
  }
  .proj-sl__desc {
    max-width: 100%;
  }
  .equipment__slider-w {
    width: 540px;
  }
  .equipment__img-w {
    height: 197px;
    img {              
      max-width: 100%;
      height: auto;
      max-height: 100%;
    }
  }
  .equipment__slider-link {
    font-size: 16px;
  }
  .equipment__slider-link:before {
    width: 13px;
    height: 13px;    
    background-size: 21px;
    top: -2px;
  }
  .whywe__num-w {
    font-size: 36px;
  }
  .whywe__num-text {
    font-size: 20px;
  }
  .whywe__text {
    font-size: 16px;
  }
  .showrooms {
    padding-bottom: 50px;
  }
  .show-640 {
 display: block; 
}
.marquee__heading {
  text-align: left;
  line-height: 114%;
}
} 



@media only screen and (max-width : 575px) {
  .contain {
    width: 100%;
    max-width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }
  .slider__info {
    transform: translate(-44px, -16px);
  }
  .open-mnu-w {
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .open__btn {
    margin-top: 22px;
  }
  .open__phones {
    margin-top: 44px;
  }
  .proj-sl {
    width: calc(360px * 2 + 20px);
    margin: 0 -10px;
    .slick-slide {
      padding: 0 10px;
    }
  }
  .proj-sl__img-w {
    height: 197px;
    margin-bottom: 12px;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 16px;
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
  .proj-sl__square {
    font-weight: 600;
    line-height: 1.25;
  }
  .proj-sl__desc {
    margin-top: 12px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.57;
  }
  .proj-sl__tit,
  .proj-sl__square {
   font-size: 16px;
 } 
 .proj-sl__link {
   margin-top: 14px;  
   margin-left: 0; 
 }
 .projects {
   padding: 60px 0 64px 0;
 }
 .projects__title {
   font-size: 28px;
 }
 .proj-sl__desc {   
  p {
   &:first-child {
     display: none;
   }  
 } 
}
.projects__title {
 margin-bottom: 40px;
}
.calculate__l {
 font-size: 20px;
 line-height: 1.4;
}
.calculate__desc {
 font-size: 16px;
}
.calculate__top {
 padding: 57px 0 62px 0;
}
.calculate__r {
 margin-top: 40px;
}
.op {
  padding: 28px 0 51px 0;
  background: linear-gradient(118.1deg, rgba(0, 0, 0, 0.4) -19.18%, rgba(0, 0, 0, 0) 58.35%), #C60C30;
  .contain {
   padding: 0; 
 } 
}
.op__l {
 margin-bottom: 26px;
 width: 100%;
 padding: 0 20px;
}
.op__logo {
 font-size: 28px;
}
.op__r-desc {
 font-size: 16px;
 order: -1;
 margin-top: 0;
 padding: 0 20px;
 line-height: 1.6;
 margin-bottom: 20px;
}
.op__r {
 display: flex;   
 flex-direction: column;
}
.op__r-img-w {
height: 316px;
overflow: hidden;
img {
  object-fit: cover;
  width: 101%;
  height: 101%;
}
}
.op__row-1 {
 margin-bottom: 35px;
}
.accord__accord {
 padding-left: 20px;
}
.accord__item {
 padding: 19.6px 0;
 padding-right: 60px;

}
.accord__title {
 font-size: 16px;
 line-height: 1.5;
}
.equipment {
 padding: 62px 0 40px 0;
}
.equipment__tit {
 font-size: 28px;
 margin-bottom: 20px;
 line-height: 1.2;
}
.equipment__slider-w {
 margin-top: 20px;
}
.getcat {
 padding: 32px 0 45px 0;
}
.getcat__tit {
 font-size: 28px;
 margin-bottom: 43px;
}
.getcat__checkbox-lbl:not(:last-child) {
 margin-right: 22px;
}
.heading-2 {
 font-size: 28px;
 margin-bottom: 50px;
}
.advantages__text {
 font-size: 18px;
}
.advantages {
 padding-top: 0;
 padding-bottom: 39px;
}
.advantages__heading {
 margin-bottom: 30px;
}
.marquee__li {
 font-size: 14px;
 margin-right: 10px;
}
.marquee {
 padding: 18px 0;
}
.advantages__img-w {
 height: 240px;
 img {
   object-fit: cover;
   width: 100%;
   height: 100%;
 }
}
.showrooms {
  padding: 63px 0 56px 0;
}
.showrooms__heading {
  margin-bottom: 36px;
}
.tabs__content-w {
  width: 740px;
}

.showrooms__adress {
  width: 100%;
  margin-bottom: 12px;
}
.showrooms__phone {
  font-weight: 400;
  display: block;
  width: 100%;
  margin-bottom: 12px;
}
.showrooms__signup {
  opacity: 0.6;
}
.showrooms__img-w {
  height: 197px;
  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}
.tabs__content-w {
  margin-top: 23px;
  margin-left: -10px;
  margin-right: -10px;
}
.showrooms__slider .slick-slide {
  padding: 0 10px;
}
.marquee__heading {
  text-align: left;
  line-height: 114%;
}
.show-575 {
 display: block; 
}
.openclub__tabs-control {
  height: 48px;
  .tab__list-item {
  height: 38px;
  font-size: 14px;
  padding: 0 16px;
  &:not(:last-child) {
    margin-right: 9px;
  }
}
}
.openclub__list-item:before {
  margin-right: 10px;
  width: 15px;
  height: 15px;         
  background-size: 8px;
}
.openclub {
  padding: 59px 0 36px 0;
}
.openclub__items {
  margin-top: 20px;
}
.marquee__heading {
  margin-bottom: 30px;
}
.equipment__img-w {
  margin-bottom: 15px;
}
.whywe__num {
margin-bottom: 20px;
}
.whywe__text {
  line-height: 1.4;
}
.advantages__text {
  line-height: 1.55;
  padding-right: 5px;
}
.nav-selected {
  font-size: 14px;
}
.showrooms__info {  
  flex-wrap: wrap;
  margin-top: 16px;
}
.openclub__actions-w {
  margin-top: 28px;
}
.openclub__tabs-control-w {
  margin-top: 18px;
}
.openclub__it-tit {
  margin-bottom: 31px;
}
.openclub__text {
  margin-bottom: 27px;
}
.calculate__bot {
  height: 240px;
  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}
.header, .header__slide, .header__slider {
  height: 568px;
}
}



@media only screen and (max-width : 480px) {
  .header, .header__slide, .header__slider {

  }
  .top {
    top: 20px;
  }
  .burger__line {
    height: 1px;
  }
  .top__btn {
    width: 100%;
  }
  .top__btn-wrap {
    padding-left: 20px;
    padding-right: 20px;
  }
  .header__slide-text {
    font-size: 28px;
    line-height: 1.2;
  }
  .header__slide-text-wrap {
    bottom: 132px;
  }
  .header__current {
    font-size: 24px;
  }
  .slider__info > span {
   margin-left: 3px; 
 }
 .header__total,
 .slider__info > span {
  font-size: 10px;
}
.header__current {
  margin-top: -7px;
}
.header .slick-dots,
.header .slick-next {
  display: none !important;
}
.open-mnu-w {
  width: 100%;
}
.open__phones {
  position: relative;
  width: 100%;
  margin-top: 30px;
  padding-top: 40px;
  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: -20px;
    width: calc(100% + 20px);      
    height: 1px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  } 
}

.open__btn {
  margin-top: 37px;    
}
.open__phones-mail {
  display: none;
}
.open__phones-phone {
  margin-bottom: 7px;
}
.open__phones-item:not(:last-child) {
  margin-bottom: 23px;
}
.open-mnu__li {
  margin-bottom: 0;
  &:not(:last-child) {
    margin-bottom: 15px;
  }
}
.header__slide:before {

}
.footer {
  padding: 65px 0 55px 0;
}

.footer__phones {
  margin-top: 46px;
}
.footer__phones-mail {
  margin-top: 19px;
}
.footer__phones-phone {
  font-size: 18px;
  margin-bottom: 17px;
}
.footer__phones-mail, .footer__phones-city {
  font-size: 14px;
}
.footer__phones-item:not(:last-child) {
  margin-bottom: 45px;
}
.footer__time {
  margin-top: 46px;
}
.logo__slogan {
  margin-top: 24px;
}
.slider__info {
  transform: translate(-4px, -3px);
}
.footer__logo {
  width: 201px;
}
.proj-sl {
  width: calc(270px * 2 + 20px)
}
.equipment__slider-w {
  width: 540px;
}

.nav-selected span,
.equipment__nav-text {
  text-overflow: ellipsis;    
  width: calc(100% - 0px);
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
}

.nav-selected span {
  width: calc(100% - 10px);
}
.mnu__close {
  margin-top: -10px;
}
}

@media only screen and (max-width : 375px) {
  .open__btn {
    width: 100%;
  }
  .tabs__content-w {
    width: 540px;
  }
}

@media only screen and (max-width : 360px) {

}

@media only screen and (max-width : 320px) {
  body, body > * {
    width: auto;
    min-width: 320px;
  }
}


@media only screen and (min-width : 1080px) {
  .main-mnu {
    display: block !important;
  } 

  .hidden-mnu {
    display: none;
  }
} 


